/************************************index*********************************************/
#storiesBar {
  overflow-x: scroll;
}

/***********************************comment*******************************************/
#comments {
  background-color: #f7f8fc;
}

/*********************************story*********************************************/
.storyContainer {
  height: 100vh;
  background-color: #262628;
}
.storyMedia {
  max-height: 100%;
  max-width: 100%;
}
.storyInfo {
  height: 100%;
  width: 100%;
}
.storyLengthBg {
  height: 0.25rem;
  margin: 0 2px;
  background-color: rgba(255, 255, 255, 0.5);
}
.storyLength {
  height: 100%;
  width: 100%;
}

/****************************notification****************************************/
.notificationBg {
  background-color: #f2f3fa;
}
.notificationMedia {
  width: 45px;
  height: 45px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
/************************************accaunt*******************************/
.accFollowBtn {
  background-color: #43a2fa;
  color: #fff;
}

.accBgImage {
  background-image: url('../images/post-8.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  width: 100%;
}

/********************************message***************************************/
.msgNotifCon {
  width: 1.8rem;
  height: 1.8rem;
  background-color: #43a2fa;
}
.msgActive {
  color: #43a2fa;
}
.msgRead {
  display: none;
}
.msgPencil {
  background-color: #43a2fa;
  width: 45px;
  height: 45px;

}
.msgPencilCon {
  max-width: 425px;
  width: inherit;
  bottom: 12px;
  padding-right: 12px;
}

/*******************************************chat*******************************/
.userMsgBg {
  background-color: #38b000;
  color: #fff;
}
.chatMessage {
  max-width: 60%;
}
.chatTop {
  max-width: 425px;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}
.chatContainer {
  padding-top: 80px;
  padding-bottom: 60px;
}
.chatMsgInputCon {
  max-width: 425px;
  width: 100%;
  bottom: 0.5rem;

}
.chatInputBtn {
  background-color: #38b000;
  width: 36px;
  height: 36px;
}
.chatMsgInput {
  background-color:rgba(50, 50, 50, 0);
  outline: none;
}
.chatDate {
  color:#9797bd;
  top: 85px;
}